<div class="row my-5">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= status %></h4>
        <p class="card-text">
          <pre class="pre-scrollable">
            <%= messages %>
          </pre>
        </p>
      </div>
    </div>
  </div>
</div>
